

// portal colors
$light-bg: rgba(231, 244, 253, 0.65);
$content-color: #808080;
$text-color: #4a4a4a;
$label-color: #466081;
$border-color: #e6e6e6;
$border-color-dark: #bfbfbf;

// custom colors
$cyan : #17a2b8;
$white: #fff;
$black: #000;
$red: #ff3300;
$green: #00b300;
$orange: #ff8c1a;
$yellow: #ffcf00;
$light-gray: #c2c2d6;
$indigo: #8171d9;
$pink: #e83e8c;
$blue: #007bff;

// alarms colors
$critical-color: #e2030f;
$major-color: #fb7f37;
$minor-color: #fbbd50;
$warning-color: #ffd633;
$informative-color: #4682B4;
$fatal-color: #800000;
